In [62]:
import pandas as pd
from prefect import flow, task
from prefect_sqlalchemy import SqlAlchemyConnector
from sqlalchemy import create_engine

In [63]:
engine_stg = create_engine('postgresql://root:root@localhost:5432/perqara_stg')
engine_cln = create_engine('postgresql://root:root@localhost:5432/perqara_cln')

engine_stg.connect()
engine_cln.connect()

In [73]:
df = pd.read_sql_table("stg_product_cat_name_translation", con=engine_stg)
df.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

In [74]:
df

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [91]:
df['product_cat_name'] = df['product_category_name_english'].str.replace('_',' ').str.title()

In [92]:
df

,product_category_name,product_category_name_english,product_cat_name
0,beleza_saude,health_beauty,Health Beauty
1,informatica_acessorios,computers_accessories,Computers Accessories
2,automotivo,auto,Auto
3,cama_mesa_banho,bed_bath_table,Bed Bath Table
4,moveis_decoracao,furniture_decor,Furniture Decor
...,...,...,...
66,flores,flowers,Flowers
67,artes_e_artesanato,arts_and_craftmanship,Arts And Craftmanship
68,fraldas_higiene,diapers_and_hygiene,Diapers And Hygiene
69,fashion_roupa_infanto_juvenil,fashion_childrens_clothes,Fashion Childrens Clothes
70,seguros_e_servicos,security_and_services,Security And Services

In [69]:
df.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

In [70]:
df.shape

(71, 2)